<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fit.iseeyou.web.mapper.EbSysUserMapper">
    <resultMap id="userDomainResultMap" type="ebSysUserDomain">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="email" column="email" />
        <result property="mobile" column="mobile" />
        <result property="sex" column="sex" />
        <result property="avatar" column="avatar" />
        <result property="lastLoginTime" column="last_login_time" />
        <result property="status" column="status" />
        <result property="createUser" column="create_user" />
        <result property="createTime" column="create_time" />
        <result property="updateUser" column="update_user" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <!--EbSysUserDomain getUserByUsername(String username);-->
    <select id="getUserByUsername" parameterType="string" resultMap="userDomainResultMap">
        SELECT id, username, password, email, mobile, sex, avatar, last_login_time, status, create_user, create_time, update_user, update_time, remark
        FROM sys_user
        where username = #{username}
    </select>

    <!--  EbSysUserDomain getUserById(Long id);   -->
    <select id="getUserById" resultMap="userDomainResultMap" parameterType="long">
        SELECT id, username, password, email, mobile, sex, avatar, last_login_time, status, create_user, create_time, update_user, update_time, remark
        FROM sys_user
        where id = #{id}
    </select>

    <!--  List<EbSysUserDomain> getList(EbSysUserDomain user);  -->
    <select id="getList" resultMap="userDomainResultMap" parameterType="ebSysUserDomain">
        SELECT id, username, password, email, mobile, sex, avatar, last_login_time, status, create_user, create_time, update_user, update_time, remark
        FROM sys_user
        <where>
            <if test="user.username != null and user.username != ''">username like concat('%', #{username}, '%')</if>
            <if test="user.email != null and user.email != ''">and email like concat('%', #{email}, '%')</if>
            <if test="user.mobile != null and user.mobile != ''">and mobile like concat('%', #{mobile}, '%')</if>
            <if test="user.sex != null">and sex = #{sex}</if>
        </where>
    </select>

    <!-- int insertUser(EbSysUserDomain user); -->
    <insert id="insertUser" parameterType="ebSysUserDomain">
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.username != null and user.username != ''">username,</if>
            <if test="user.password != null and user.password != ''">password,</if>
            <if test="user.email != null and user.email != ''">email,</if>
            <if test="user.mobile != null and user.mobile != ''">mobile,</if>
            <if test="user.sex != null">sex,</if>
            <if test="user.avatar != null and user.avatar != ''">avatar,</if>
            <if test="user.lastLoginTime != null">last_login_time,</if>
            <if test="user.status != null">status,</if>
            <if test="user.createUser != null">create_user,</if>
            <if test="user.createTime != null">create_time,</if>
            <if test="user.updateUser != null">update_user,</if>
            <if test="user.updateTime != null">update_time,</if>
            <if test="user.remark != null">remark,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.username != null and user.username != ''">#{username},</if>
            <if test="user.password != null and user.password != ''">#{password},</if>
            <if test="user.email != null and user.email != ''">#{email},</if>
            <if test="user.mobile != null and user.mobile != ''">#{mobile},</if>
            <if test="user.sex != null">#{sex},</if>
            <if test="user.avatar != null and user.avatar != ''">#{avatar},</if>
            <if test="user.lastLoginTime != null">#{lastLoginTime},</if>
            <if test="user.status != null">#{status},</if>
            <if test="user.createUser != null">#{createUser},</if>
            <if test="user.createTime != null">#{createTime},</if>
            <if test="user.updateUser != null">#{updateUser},</if>
            <if test="user.updateTime != null">#{updateTime},</if>
            <if test="user.remark != null">#{remark},</if>
        </trim>
    </insert>

    <!-- int updateUser(EbSysUserDomain user); -->
    <update id="updateUser" parameterType="ebSysUserDomain">
        UPDATE sys_user
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- int deleteUser(Long id); -->
    <delete id="deleteUser" parameterType="java.lang.Long">
        DELETE FROM sys_user WHERE id = #{id}
    </delete>
</mapper>